#booklog {
  background-color: white;
  position: relative;
}

.booklog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: gray; */
  position: relative;
  padding-top: 0px;
  background-color: whitesmoke;
}

.booklog-container h1 {
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: normal;
  margin: 40px;
}

.readingHistory {
  font-family: "Raleway";
  padding-left: 2rem;
  /* padding-right: 10%; */
  display: flex;
  background: rgba(149, 72, 31, 0.686);
  background-image: url("https://m.media-amazon.com/images/I/8162wgFO8rL.__AC_SX300_SY300_QL70_FMwebp_.jpg");
  align-items: center;
  justify-content: flex-start;
  height: 15rem;
  overflow-x: auto;
}

.readingHistory div {
  margin-left: 1rem;
  margin-right: 4rem;
  /* background-color: aquamarine; */
  text-shadow: 0 2px white;
  /* font-size: 1rem; */
  font-weight: bold;
  color: black;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    0px -1px 0px rgba(0, 0, 0, 0.7);
}

.readingHistory text {
  font-family: "Raleway";
  font-weight: bold;
  margin-right: 9rem;
  font-size: 3rem;
  max-width: 3rem;
}

.booklogForm {
  padding: 30px 20px;
  font-family: "Raleway";
}
.booklogForm h2 {
  text-align: center;
  font-size: 3rem; /* Adjust font size */
  font-weight: normal;
  padding-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: auto;
}

label {
  margin-bottom: 5px;
}

input,
select {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
