#booklog {
  background-color: white;
  position: relative;
}

.booklog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  position: relative;
  padding-top: 0px;
}

.booklog-container h1 {
  font-family: "Raleway";
  font-size: 3rem;
  font-weight: normal;
  margin: 40px;
}

.readingHistory {
  display: flex;
  background: blue;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.readingHistory div {
  margin: 3rem;
  background-color:aquamarine
}
