#discover {
    background-color: white;
    position: relative;
}

.discover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    position: relative;
    padding-top: 0px;
}

.discover-container h1 {
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: normal;
    margin: 40px;
}