.landingpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  overflow: hidden;
}

.landingpage-content {
  color: #fff;
  z-index: 1001;
  text-align: center;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 212px;
}

.landingpage-content h1 {
  font-family: "Raleway";
  font-size: 7rem;
  font-weight: normal;
  margin: 40px;
}

.landingpage-content h3 {
  font-size: 2rem;
  font-weight: normal;
}

.btn-holder {
  height: 5rem;
}
.start-btn {
  background-color: whitesmoke;
  color: black;
  padding: 20px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 60px;
}

.start-btn:hover {
  border: solid;
  border-width: 1px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.9);
}
